/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */

:root {
  font-size: 16px;
  /* Variable text colors */
  --text-black: #111729;
  --text-dark-gray: #223344;
  --text-light-gray: #6A758B;
  --text-blue: #2a4dd0;
  --text-white: #ffffff;
  --text-dimmed-white: #f2f9fe;

  /* Variable background colors */
  --bg-black: #111729;
  --bg-dark-gray: #223344;
  --bg-light-gray: #6A758B;
  --bg-blue: #2a4dd0;
  --bg-white: #ffffff;
  --bg-dimmed-white: #f2f9fe;
}

body {
  max-width: 640px;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  margin-bottom: 6rem;
  line-height: 1.5;
}
 .hero-image-section {
    padding: 0 1rem;
  }

.information-and-cta-section {
  margin-top: 8rem;
   padding: 0 4rem;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-dark-gray);
}

.main-heading {
  margin-top: 1rem;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.75;
  color: var(--text-light-gray);
}
.subheading {
  margin-top: 2rem;
}

.subtitle {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-dark-gray);
}

.button-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
}

.get-started-button {
  text-transform: uppercase;
  color: var(--text-white);
  background-color: var(--bg-blue);
  text-decoration: none;
  padding: 1rem 3rem;
}

.live-demo-button {
  font-weight: 600;
  border-bottom: 2px solid var(--bg-blue);
  border-radius: 0;
}



.info-checklist-container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.info-checklist {
  background-image: url('../assets/Done_ring_round_fill.svg');
  background-size: 24px 24px; 
  background-repeat: no-repeat;
  padding-left: 32px;
  background-position: 0 50%;
  font-size: 14px; 
  color: var(--text-light-gray);
  font-weight: 500;
}

.desktop-navbar {
  display: none;
}