@media screen and (min-width: 1280px) {
  body {
    max-width: 1280px;
    padding: 3rem 5rem;
  }
  
  .main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-image-section {
    order: 2;
    max-width: 50%;
    margin: 0;
    padding: 0;
  }
  
  .information-and-cta-section {
    order: 1;
    max-width: 40%;
    margin: 0;
    padding: 0;
  }
}
