@media screen and (min-width: 1024px) {
  body {
    max-width: 1024px;
    padding: 0 7rem;
  }
  .hero-image-section {
    padding: 0 7rem;
  }
  .information-and-cta-section {
    padding: 0;
  }
  .mobile-navbar {
    display: none;
  }
  .desktop-navbar {
    display: flex;
  }
  .nav-links {
    display: flex;
  }
}
